@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
}

.info p{
  font-weight:400;
  font-family: "Josefin Sans", sans-serif;
}